## Extracting edge flow

In [1]:
# load data frame with transactions
import pandas as pd
import numpy as np
import pickle
import networkx as nx
from pprint import pprint
from datetime import datetime
from datetime import date 
from etl import data
from sklearn.metrics import mean_squared_error


df = data.df
df_ac = df.groupby('ac_location').count().sort_values('ct_id', ascending=False)
df_mc = df.groupby('mc_location').count().sort_values('ct_id', ascending=False)
df

,ct_id,date,ac_location,mc_location,name,parent_name,mc_name
6,5,2018-11-06 00:00:00,Germany,United Kingdom,12M Invent GmbH,Mr Kai Martin Seefeldt,12M Limited
7,6,2018-06-20 00:00:00,United Kingdom,Luxembourg,Northern Trust Global Services PLC,Northern Trust Global Services PLC,1889 Holdings S.A.
8,7,2014-07-01 00:00:00,Cyprus,Czech Republic,Mostreet Holdings Limited,Mostreet Holdings Limited,2R Holding s.r.o.
9,8,2017-10-13 00:00:00,Denmark,Germany,3 LG Invest ApS,3 LG Invest ApS,3 LG Invest GmbH
10,9,2014-06-20 00:00:00,Netherlands,Cyprus,Coca-Cola HBC Holdings B.V.,Coca-Cola HBC AG,3E (Cyprus) Limited
16,30,2017-10-24 00:00:00,Netherlands,United Kingdom,ABN AMRO Commercial Finance Holding B.V.,ABN AMRO Commercial Finance Holding B.V.,ABN AMRO Commercial Finance Plc
17,31,2018-03-30 00:00:00,Netherlands,Luxembourg,ABN AMRO Bank N.V.,Staat der Nederlanden,ABN AMRO Financing S.Ã r.l.
18,32,2016-10-11 00:00:00,Netherlands,Belgium,ABN AMRO Lease N.V.,Staat der Nederlanden,ABN AMRO Lease BelgiÃ« N.V.
19,5565,2019-12-17 00:00:00,Netherlands,Germany,ABN AMRO Bank N.V.,Staat der Nederlanden,Prospery GmbH
20,33,2019-01-04 00:00:00,Netherlands,Belgium,ABN AMRO Bank N.V.,ABN AMRO Bank N.V.,ABN AMRO Private Banking Belgium SA/NV
21,2464,2019-06-19 00:00:00,Netherlands,Germany,ABN AMRO Bank N.V.,ABN AMRO Bank N.V.,Prospery GmbH
33,45,2016-10-13 00:00:00,Slovakia,Hungary,Sylvi Trade s.r.o,Sylvi Trade s.r.o,ABT-SYSTEM Kereskedelmi Ã©s SzolgÃ¡ltatÃ³ Kft.
34,46,2019-01-25 00:00:00,Netherlands,Belgium,Caldic lngredients B.V.,Caldic lngredients B.V.,Acatris Food Belgium N.V.
38,50,2013-07-03 00:00:00,Netherlands,Sweden,Acems B.V.,Ahlstrom Capacity OY,Acems AB
39,1707,2013-07-03 00:00:00,Netherlands,Sweden,Dutchco Alpha Holding B.V.,Ahlstrom Capacity OY,Kosmo AB
40,2876,2013-07-03 00:00:00,Netherlands,Sweden,AC Real Estate B.V.,Ahlstrom Capacity OY,Sulma Fastigheter AB
41,51,2018-01-18 00:00:00,Italy,Luxembourg,ONORATO ARMATORI S.R.L.,Mr Vincenzo Onorate,ACHI 1 S.A.
42,122,2018-01-18 00:00:00,Italy,Netherlands,ONORATO ARMATORI S.R.L.,Mr Vincenzo Onorate,Ale1 B.V.
43,3146,2018-01-18 00:00:00,Italy,Luxembourg,ONORATO ARMATORI S.R.L.,Mr Vincenzo Onorate,V1 S.A.
44,52,2015-01-17 00:00:00,Italy,Ireland,AcomeA SGR S.p.A. (Acomea Societa' di Gestione...,Acomea Societa' di Gestione Risparmio S.P.A.,AcomeA Limited
45,53,2013-04-11 00:00:00,Netherlands,Sweden,ACPack B.V. (DISSOLVED),ACPack B.V. (DISSOLVED),ACPack AB
46,54,2015-07-30 00:00:00,Germany,Austria,PHOENIX Beteiligungs-GmbH,Mr Hans Willi Boenningshausen,Active Beteiligungsgesellschaft mbH
48,56,2018-05-18 00:00:00,Germany,Belgium,Adalya Tobacco International GmbH,Mr Celik Serap Bas,Adalya Tobacco International S.P.R.L.
50,58,2017-06-07 00:00:00,Germany,United Kingdom,adexco Service GmbH,Adexco Service GmbH,Adexco Limited
51,59,2016-02-22 00:00:00,Croatia,Slovenia,ADRIATICA.NET,ADRIATICA.NET,ADRIATICA.NET
52,60,2016-10-24 00:00:00,Luxembourg,Netherlands,White Star S.a r.l.,White Star SARL,ADV Marketing Holding B.V.
53,61,2016-10-21 00:00:00,Hungary,Austria,Colosal Ingatlan fejlesztÃµ Kft.,Colosal Ingatlan fejlesztÃµ Kft.,AE Gamma Holding GmbH
54,62,2013-06-28 00:00:00,Spain,Netherlands,Aedilis Corporation S.L.,Aedilis Corporation S.L.,Aedilis B.V.
55,63,2012-10-31 00:00:00,Poland,Romania,AEGON Life Insurance Company SA,Aegon NV,AEGON Asigurari DE Viata SA
56,5530,2012-05-23 00:00:00,Poland,Romania,AEGON TOWARZYSTWO UBEZPIECZEN NA ZYCIE SA,Aegon NV,SC AEGON ASIGURARI DE VIATA SA
...,...,...,...,...,...,...,...
5291,5559,2017-06-12 00:00:00,Romania,Italy,MAGICAVI G.E.I.E.,MAGICAVI G.E.I.E.,MAGICAVI G.E.I.E.
5293,5561,2019-11-09 00:00:00,Ireland,Netherlands,ADELAAR L HOLDINGS LIMITED,L (IMC) LIMITED,LI B.V
5294,5562,2019-11-09 00:00:00,Ireland,Netherlands,Adelaar M Holdings Limited,M (IMC) LIMITED,MI B.V.
5295,5563,2019-11-09 00:00:00,Ireland,Netherlands,Adelaar S Holdings Limited,S (IMC) LIMITED,SI B.V.
5296,5564,2019-11-09 00:00:00,Ireland,Netherlands,Adelaar V Holdings Limited,V (IMC) LIMITED,VI B.V.
5297,5566,2019-05-09 00:00:00,Luxembourg,Germany,GACEREF Luxco Netherlands S.Ã .r.l.,GACEREF LUXCO HOLDCO SARL,Rubicon 2. Beteiligungs GmbH
5298,5567,2018-12-20 00:00:00,Germany,United Kingdom,Siemsen und RÃ¶hrscheid GmbH,Siemsen und RÃ¶hrscheid GmbH,Safety Drive Limited
5299,5568,2019-06-28 00:00:00,Netherlands,Germany,Aberkyn Holding B. V.,Aberkyn Holding B. V.,Aberkyn Deutschland GmbH
5300,5570,2019-09-23 00:00:00,Luxembourg,Ireland,IDR Real Estate s.ar.l.,IDR Real Estate s.ar.l.,DR Real Estate Limited
5304,5575,2019-11-10 00:00:00,Netherlands,Ireland,SHEPPARD NETHERLANDS B.V.,BEAUBIEN UK FINANCE LIMITED,SHEPPARD NETHERLANDS B.V.
5305,5576,2019-10-25 00:00:00,Luxembourg,Ireland,Hutchison Europe Telecommunications S.a r.l.,CK HUTCHISON HOLDINGS LIMITED,VIP-CKH Ireland Limited
5306,5577,2020-02-17 00:00:00,Netherlands,XXXXX,Holmstreet Belastingen BV,Holmstreet Belastingen BV,Letino Estates sro
5308,5579,2020-12-03 00:00:00,Slovakia,Czech Republic,Metrostav SK as,Metrostav SK as,Metrostav as
5309,5579,2020-12-03 00:00:00,Slovakia,Czech Republic,Metrostav SK as,Metrostav SK as,Metrostav as
5310,5579,2020-12-03 00:00:00,Slovakia,Czech Republic,Metrostav SK as,Metrostav SK as,Metrostav as
5311,5579,2020-12-03 00:00:00,Slovakia,Czech Republic,Metrostav SK as,Metrostav SK as,Metrostav as
5312,5580,2020-11-03 00:00:00,Slovakia,Czech Republic,Metrostav SK as,Metrostav SK as,Metrostav as
5313,5580,2020-11-03 00:00:00,Slovakia,Czech Republic,Metrostav SK as,Metrostav SK as,Metrostav as
5314,5580,2020-11-03 00:00:00,Slovakia,Czech Republic,Metrostav SK as,Metrostav SK as,Metrostav as
5315,5580,2020-11-03 00:00:00,Slovakia,Czech Republic,Metrostav SK as,Metrostav SK as,Metrostav as
5316,5581,2020-06-03 00:00:00,Czech Republic,Cyprus,Jayford Investments CZ sro,Jayford Investments CZ sro,JAYFORD INVESTMENTS LIMITED
5317,5582,2020-06-03 00:00:00,Czech Republic,Cyprus,UTENSIL Invest as,UTENSIL Invest as,KARTAMON TECHNOLOGIES PLC
5321,5586,2019-06-26 00:00:00,Czech Republic,Malta,CENTRAL GROUP as,CENTRAL GROUP as,BEXEE LIMITED
5324,5589,2019-05-07 00:00:00,Romania,Spain,DECIROM INTERACTIV S.A.,DECIROM INTERACTIV S.A.,VERYLAM HISPANIA SL
5325,5590,2020-01-01 00:00:00,Germany,Austria,Bostik GmbH,Bostik GmbH,Den Braven Sealants GmbH
5326,5591,2019-12-31 00:00:00,Austria,Germany,Modelleisenbahn GmbH,Modelleisenbahn GmbH,Modelleisenbahn MÃ¼nchen GmbH
5327,5592,2020-01-27 00:00:00,Austria,Croatia,thyssenkrupp Elevator Eastern Europe GmbH,thyssenkrupp Elevator Eastern Europe GmbH,thyssenkrupp Dizala d.o.o.
5328,5593,2020-01-27 00:00:00,Austria,Poland,thyssenkrupp Elevator Eastern Europe GmbH,thyssenkrupp Elevator Eastern Europe GmbH,ThyssenKrupp Elevator spoÌÅ‚ka z ograniczonaÌ...
5329,5594,2020-03-30 00:00:00,Austria,Hungary,thyssenkrupp Elevator Eastern Europe GmbH,thyssenkrupp Elevator Eastern Europe GmbH,thyssenkrupp Lift KorlaÌtolt FeleloÌ‹sseÌguÌ...
5331,5596,2020-04-15 00:00:00,Germany,Austria,Viessmann Climate Solutions AG,Viessmann Climate Solutions AG,Viessmann Climate Solutions OÌˆsterreich AG

In [12]:
# extract transactions for a specific year and put them in a graph
from collections import defaultdict
y_true_dict = defaultdict()
for year in range(2008,2019):
    start_date = datetime(year, 1, 1)
    end_date = datetime(year+1, 1, 1)
    G = data.df2graph(start_date=start_date, end_date=end_date)
    edge_data = data.edges2dict(G)
    print(len(G.edges), len(edge_data))
    y_true_dict[year] = [edge_data[edge] for edge in edge_data]

57 702
83 702
101 702
114 702
128 702
97 702
94 702
93 702
116 702
127 702
117 702

In [7]:
y_true = [edge_data[edge] for edge in edge_data]
y_pred= [predicted_edge_data[edge] for edge in predicted_edge_data]

In [23]:
pd.DataFrame(y_true_dict)

     2008  2009  2010  2011  2012  2013  2014  2015  2016  2017  2018
0       9     5     3     7    12    12    12     5    20    57    30
1       1     5     0     2     6    20     7     8    12    12     8
2       0     1     0     1     2     1     2     3     2     1     2
3       0     0     1     5     6     6     5     2     5     1     7
4       0     1     1     0     3     0     0     3     2     3     3
5       1     2     3    13     8     6     2     4     4     6     3
6       0     0     0     0     1     0     0     1     1     1     0
7       0     0     0     0     0     0     0     1     1     0     0
8       0     0     1     0     2     0     2     0     0     0     0
9       0     0     0     0     1     0     1     1     0     0     0
10      2     0     2     0     1     0     0     1     2     3     1
11      1     1     0     0     0     1     1     3     0     5     0
12      0     0     0     0     0     0     0     0     0     0     0
13      0     1     0     0     0     0     0     0     0     0     0
14      0     0     2     1     0     0     0     0     0     1     1
15      0     0     0     0     0     0     0     0     1     2     0
16      0     0     0     0     0     0     1     2     0     0     0
17      1     0     0     0     1     0     0     0     0     0     0
18      0     0     0     1     0     0     0     0     0     1     0
19      1     0     0     1     0     0     0     0     1     0     0
20      0     0     0     0     0     0     0     0     0     0     0
21      0     0     0     0     0     0     0     0     0     0     0
22      0     0     0     0     0     0     0     0     0     0     0
23      0     0     0     1     0     0     0     1     0     0     0
24      0     0     1     0     0     1     1     0     0     0     0
25      0     0     0     0     0     0     0     0     0     0     0
26      1     4     2     3     4     1     6     2     6    15    11
27      0     1     3     2     5     7     7     5     5     9     6
28      6     6     9     9     8     3     6    10     8     5     7
29      0     3     0     1     0     0     0     0     0     4     8
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
672     0     0     0     0     0     0     0     0     0     0     0
673     0     0     0     0     0     0     0     0     0     0     0
674     0     0     0     0     0     0     0     0     0     0     0
675     0     0     0     0     0     0     0     0     0     0     0
676     0     0     0     0     0     0     0     0     0     0     0
677     0     0     0     0     0     0     0     0     0     0     1
678     0     0     0     0     0     0     0     0     0     0     0
679     0     0     0     0     0     0     0     0     0     0     0
680     0     0     0     0     0     0     0     0     0     0     0
681     0     0     0     0     0     0     0     0     1     0     1
682     0     0     0     0     0     0     0     0     2     1     0
683     0     0     0     0     0     0     0     0     0     0     0
684     0     0     0     0     0     0     0     0     0     0     0
685     0     0     0     0     0     0     0     0     0     0     0
686     0     0     0     0     0     0     0     0     0     0     0
687     0     0     0     0     0     0     0     0     0     0     0
688     0     0     0     0     0     0     0     0     0     0     0
689     0     0     0     0     0     0     0     0     0     0     0
690     0     0     0     0     0     0     0     0     0     0     0
691     0     0     0     0     0     0     0     0     0     0     0
692     0     0     0     0     0     0     0     0     0     0     0
693     0     0     0     0     0     0     0     0     0     0     0
694     0     0     0     0     0     0     0     0     0     0     0
695     0     0     0     0     0     0     0     0     0     0     0
696     0     0     0     0     0     0     0     0     0     0     0
697     0     0     0     0     0     0     0     0     0     0     0
698     0     0     0     0     0     0     0     0     0     0     0
699     0     0     0     0     0     0     0     0     0     0     0
700     0     0     0     0     0     0     0     0     0     0     0
701     0     0     0     0     0     0     0     0     0     0     0

[702 rows x 11 columns]

In [17]:
pickle.dump(y_true_dict, open('C:/Users/Kinga/OneDrive/thesis/data/corpgame/real_edge_payoff.pickle','wb'))

In [6]:
predicted_edge_data = pickle.load(open('C:/Users/Kinga/OneDrive/thesis/data/corpgame/predicted_edge_payoff.pickle','rb'))

In [13]:
y_mean =[np.mean(y_true) for i in range(702)]
y_zero = [0]*702

In [15]:
e1 = mean_squared_error(y_true, y_zero, squared=False)
e2 = mean_squared_error(y_true, y_mean, squared=False)
e3 = mean_squared_error(y_true, y_pred, squared=False)
print(e1, e2, e3)

3.0655237558100734 2.96558788231464 3.0655237558100734

In [22]:
[sum(y_true_dict[year]) for year in y_true_dict] #this should be a early amount of CBMs!

[0.2037037037037037,
 0.2934472934472934,
 0.37464387464387466,
 0.4415954415954416,
 0.5042735042735043,
 0.42165242165242167,
 0.35185185185185186,
 0.2962962962962963,
 0.43874643874643876,
 0.5854700854700855,
 0.5868945868945868]